*{
    margin: 0;
    padding: 0;
    font-family: SoDoSans_Light,Helvetica,sans-serif;
    box-sizing: border-box;
}

.navbar{
    height: 68px;
    box-shadow: 0px 0px 3px rgb(39, 39, 39);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    color: grey;    
    font-size: 14px;
    font-weight: 600;                                                                                                             
}
.shit:hover{
    color: #1E3932;
    cursor: pointer;
}
/* .nav-logo{
    padding-top: 5px;
    padding-left: 5px;
} */
.logo{
    background-image: url("logo.png");
    height: 40px;
    width: 40px;
    background-size: cover;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-box{
    width: 265px;
    height: 30px;
    border-radius: 25px;
    border:1px solid grey;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.search-box:hover{
    cursor: pointer;
}
button{
    background-color: white;
    height: 22px;
    width: 23px;
    color: grey;
    text-align: center;
    position: absolute;
    margin-left: 10px;
    margin-top: 5px;
    border: none;
}
button:hover{
    cursor: pointer;
}
.pro{
    font-size: 1.5rem;
    color:grey;
}
.pro:hover{
    cursor: pointer;
    font-size: 1.7rem;
}
.nav-sec{
    height: 80px;
    background-color: #1E3932;
    display: flex;
    align-items: center;
    justify-content:center;
    color: white;
}
.sec-1{
    width: 70%;
}
.sec-1 p{
    font-size: 18px;
    font-stretch: expanded;
    font-family: sans-serif;
    font-weight: 100;
    line-height: 30px;
    padding-left: 30px;
}
.know{
    color:white;
    border-radius: 20px;
    height: 30px;
    width: 90px;
    background-color:#1E3932;
    border: 1.7px solid white; 
    line-height: 16.8px;
    font-weight: 700;
    position:relative;
}
.nav-fourth{
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blue{
    height:200px;
    background-color:#cedff1;
    width: 80%;
    border: 1px solid #cedff1;
    border-radius: 12px;
    display: flex;
    align-items: center;
}
.fourth-1{
    width: 600px;
    margin-left: 30px;
    color: rgb(70, 70, 70);
    margin-bottom: 30px;
}
.dash{
    background-image: url("dash.png");
    height: 200px;
    width: 90px;
    background-size: cover;
}
.more{
    height: 49px;
    width: 200px;
    background-color: #00754A;
    color: white;
    border-radius: 25px;
    font-weight: 600;
    margin-left: 150px;
    margin-top: 30px;
}
.nav-five{
    margin-top:0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
}
.nav-five-1{
    color: #1E3932;
    width: 80%;
    
}
.cafe{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
.five-1{
    background-image: url("Bestseller.webp");
    height: 108px;
    width: 108px;
    background-size: cover;
    border-radius: 50px;
}
.five-1:hover{
    border: 2.5px solid #00754A;
    cursor: pointer;
}
.para{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}
.para p{
    width: 115px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: rgb(29, 29, 29);
    margin-top: 9px;
    margin-bottom: 24px;
}
.box-main{
    margin-top: 24px;
    margin-bottom: 40px;
    height: 315px;
    padding-top: 32px;
    padding-bottom: 64px;
    background-color: #EDEBE9;
}
.box-main-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    height: 60px;
}
.barista{
   font-size: 27px; 
   font-weight: bolder;
   color: #1E3932;
}
.view{
    color: #00754A;
    font-weight: 500;
}
.view:hover{
    cursor: pointer;
}
.box-main-2{
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 20px;
    padding-left: 20px;
}
.box-1{
    height: 160px;
    width: 350px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid white;
    padding: 16px 24px 16px 24px;
}
.img{
    background-image: url("placeholder.webp");
    background-size: cover;
    height: 80px;
    width: 80px;
    border-radius: 7px;
}
.box-main-3{
    display: flex;
    width: 300px;
    height: 92px;
}
.box-main-4{
    padding-left: 16px;
    padding-right: 16px;
}
.box-main-5{
    height: 92px;
    width: 150px;
}
.veg{
    background-image: url("veg.png");
    height: 16px;
    width: 16px;
    background-size: cover;
    line-height: 25px;
}
.box-main-5{
    font-weight: bolder;
    color: rgb(49, 49, 49);
}
.box-main-5 a{
    color: grey;
    font-weight: 100;
    font-size: 8px;
}
.box-main-6{
    height: 32px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.num{
    display: flex;
    font-weight: 600;
    align-items: center;
}
.num p{
    font-size: 10px;
}
.add{
    height:32px;
    width: 96px;
    margin-right: 15px;
}
.items{
    height: 32px;
    width: 96px;
    background-color: rgb(0, 117, 74);
    border-radius: 15px;
    color: white;
    box-shadow: 5px 5px 5px rgb(99, 99, 99);
}
.items:hover{
    cursor: pointer;
    background-color: rgb(58, 58, 58);
}
.box-main-7{
    height: 530px;
    background-color: #EDEBE9;
    margin-top: 24px;
    margin-bottom: 40px;
    padding-top: 32px;
    padding-bottom: 32px;
}
.box-main-8{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding-left: 80px;
    padding-right:80px ;
}
.learn{
    font-size: 24px; 
    font-weight: 800;
    color: #1E3932;
}
.discover{
    color: #00754A;
    font-weight: 500;
}
.discover:hover{
    cursor: pointer;
}
.box-main-9{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-2{
    background-image: url("coffee.jpeg");
    height: 390px;
    width: 85%;
    padding: 16px 16px 16px 32px;
    background-size: cover;
    border-radius: 10px;
}
/* .content{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: relative;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.4s;
} */
/* .content:hover{
    opacity: 1;
} */
.culture{
    height: 44px;
}
.culture-1{
    height: 17px;
    width: 80px;
    color: #009966;
    background-color: #E6EDEB;
    font-size: 12px;
    border-radius: 4px;
    font-weight: 400;
    text-align: center;
}
.box-main-10{
    height: 145px;
    color: white;
}
.box-main-10 h2{
    height: 33px;
    margin-bottom: 14px;
    font-size: 26px;
    font-weight: bolder;
}
.box-main-10 p{
    margin-bottom: 42px;
    height: 21px;
    color: rgb(214, 214, 214);
}
.valid{
    height: 32px;
    width: 200px;
}
.Invalid{
    height: 32px;
    width: 200px;
    background-color: white;
    color: rgb(66, 66, 66);
    font-weight: 900;
    text-align: center;
    border-radius: 15px;
}
.box-main-11{
    height: 825px;
    padding:128px 20px 10px 32px ;
    background-color: #0E382c;
    margin-bottom: 0;
}
.box-main-auto{
    display: flex;
    justify-content: space-evenly;
}
.logo-1-11{
    height: 717px;
    width: 154px;
    padding-right: 12px;
    padding-left: 12px;
}
.logo-11{
    background-image: url("logo.png");
    height: 62px;
    width: 62px;
    background-size: cover;
}
.about{
    width: 154px;
    height: 717px;
    color: #ffffff;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 25px;
    color: #dddddd;
    line-height: 20px;
}
ul a:hover{
    cursor: pointer;
    color: grey;
}
.about-2{
    width: 154px;
    height: 717px;
    color: #ffffff;
}
.about-3{
    width: 154px;
    height: 717px;
    color: #ffffff;
}
.about-4{
    height: 717px;
    width: 153px;
    color: #ffffff;
}
.about-5{
    margin-bottom: 5px;
}
.about-5 h2{
    font-size: 20px;
}
.about-6{
    margin-top:12px;
    height: 51px;
    width: 153px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
}
.con-1:hover{
    font-size: 2.2rem;
    color: #ffffff;
    cursor: pointer;
}
.about-7{
    height: 717px;
    width: 194px;
}
.app-1{
    height: 54px;
    width: 194px;
    background-image:url("appstoreiOS.png") ;
    background-size: cover;
    padding-bottom: 8px;
}
.app-2{
    background-image: url("appstoreAndroid.png");
    height: 54px;
    width: 194px;
    background-size: cover;
}
.box-11{
    height: 43px;
    background-color: #0E382c;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 13px;
    justify-content: space-between;
    padding:30px 20px 80px 32px;
}
.box-11-1{
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.box-11-2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-11-1 p:hover{
    cursor: pointer;
    color: grey;
}
.box-11-2:hover{
    color: grey;
    cursor: pointer;
}
/* .vertical-line{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1px;
    width: 808px;
    background-color: #ffffff;
    color: #c0c0c0;
} */

.line{
    height: 1px;
    width: 70px;
    align-items: center;
}