*{
    margin: 0;
    padding: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.navbar{
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 3px black;
}
.nav-logo{
    height: 50px;
    width: 50px;
}
.logo{
    background-image: url("images.png");
    height: 50px;
    width: 50;
    background-size: cover;
}
.nav-logo:hover{
    cursor: pointer;
}
.menu{
    font-size: 16px;
    font-weight: 700;
    color: black;
    font-feature-settings: "calt";
    font-family: Arial, Helvetica, sans-serif;
    line-height: 24px;
}
.menu:hover{
    color:rgb(1, 129, 101);
    cursor:pointer;
}
.rewards{
    font-size: 16px;
    font-weight: 700;
    color: black;
    font-feature-settings: "calt";
    font-family: Arial, Helvetica, sans-serif;
    line-height: 24px;
}
.rewards:hover{
    color:rgb(1, 129, 101);
    cursor:pointer;
}
.gift{
    font-size: 16px;
    font-weight: 700;
    color: black;
    font-feature-settings: "calt";
    font-family: Arial, Helvetica, sans-serif;
    line-height: 24px;
}
.gift:hover{
    color:rgb(1, 129, 101);
    cursor:pointer;
}
.nav-find{
    display: flex;
    width: 660px;
    justify-content: end;
}
.nav-find:hover{
    cursor: pointer;
    color: rgb(1, 129, 101);
}
.location{
    margin-right: 10px;
    line-height: 24px;
}
.loaction:hover{
    color:rgb(1, 129, 101);
    cursor:pointer;
}
.find{
    font-size: 16px;
    font-weight: 700;
    color: black;
    font-feature-settings: "calt";
    font-family: Arial, Helvetica, sans-serif;
    line-height: 24px;
}
.find:hover{
    color:rgb(1, 129, 101);
    cursor:pointer;
}
.sign{
    border-radius: 20px;
    height: 30px;
    width: 80px;
    background-color: white;
    border: 1.7px solid black; 
    line-height: 16.8px;
    font-weight: 700;
}
.sign:hover{
    cursor: pointer;
}
.join{
    border-radius: 20px;
    height: 30px;
    width: 80px;
    background-color: rgb(0, 0, 0);
    border: 1.7px solid black; 
    line-height: 16.8px;
    font-weight: 700;
    color: white;
}
.join:hover{
    cursor: pointer;
}
.hero{
    margin-top: 30px;
    display: flex;
}
.hero-1{
    height: 400px;
    width: 48.5%;
    background-image: url("first.jpg");
    background-size: cover;
}
.hero-2{
    /* height: 400px;
    width: 50%;
    background-color: rgb(0,98,65);
    color: white;
    text-align: center; */
    width: 47%;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right:24px ;
    padding-left:24px; 
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    text-size-adjust: 100%;
    line-height: 24px;
    background-color: rgb(0,98,65);
    color: white;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
}
.hero-2 h1{
    font-size: 28px;
    letter-spacing: 1px;
    line-height: 35px;
    font-weight: 600;
}

.hero-2 p{
    width: 455px;
    font-size: 19px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 2px;
    padding-bottom: 0;
}
.hero-button{
    background-color: rgb(0,98,65);
    font-weight: 800;
    border-radius: 20px;
    border: 1px solid white;
    text-align: center;
    color: white;
    height: 35px;
    width: 100px;
}
.hero-button:hover{
    cursor: pointer;
    background-color: rgb(1, 129, 101);
}
.second{
    margin-top: 20px;
    height: 500px;
    display: flex;
}
.first{
    width: 47%;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right:24px ;
    padding-left:24px; 
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    text-size-adjust: 100%;
    line-height: 24px;
    background-color: rgb(163,2,154);
    color: white;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
}
.first h1{
    font-size: 28px;
    letter-spacing: 1px;
    line-height: 35px;
    font-weight: 600;
    width: 200px;
}
.first p{
    width: 350px;
    font-size: 24px;
    text-align: center;
    /* padding-top: 50px; */
    font-weight: 600;
    letter-spacing: 2px;
    padding-bottom: 0;
    line-height: 36px;
}
.button{
    background-color: rgb(163,2,154);
    font-weight: 800;
    border-radius: 20px;
    border: 1px solid white;
    text-align: center;
    color: white;
    height: 35px;
    width: 100px;
}
.button:hover{
    cursor: pointer;
    background-color: rgb(136, 2, 85);
}
.sec{
    height: 390;
    width: 53%;
    background-image: url("second.jpg");
    background-size: cover;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    overflow: hidden;
}
.third{
    height: 400px;
    display: flex;
    margin-top: 30px;
}

.third-1{
    width: 49%;
    background-image: url("third.jpg");
    background-size: cover;
    object-fit: cover;
    overflow: hidden;
}
.third-2{
    width: 50%;
    background-color: #98cde4;
    color: black;
    width: 47%;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right:24px ;
    padding-left:24px; 
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    text-size-adjust: 100%;
    line-height: 24px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
}

.third-2 h1{
    width:250px;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 900;
    line-height: 30px;
}
.third-2 p{
    width: 500px;
    font-size: 24px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 2px;
    padding-bottom: 0;
    line-height: 36px;
}
.button-1{
    background-color: #98cde4;
    font-weight: 600;
    border-radius: 20px;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    color: rgb(0, 0, 0);
    height: 35px;
    width: 130px;
}
.button-1:hover{
    cursor: pointer;
    background-color: #89a6b3;
}
.fourth{
    display: flex;
    height: 400px;
    margin-top: 30px;
}
.fourth-1{
    width: 45.5%;
    background-color: #97d8b1;
    color: black;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right:24px ;
    padding-left:24px; 
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    text-size-adjust: 100%;
    line-height: 24px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
}
.fourth-1 h1{
    width:400px;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 900;
    line-height: 30px;
}
.fourth-1 p{
    width: 400px;
    font-size: 24px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 2px;
    padding-bottom: 0;
    line-height: 36px;
}
.button-2{
    background-color:#97d8b1;
    font-weight: 600;
    border-radius: 20px;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    color: rgb(0, 0, 0);
    height: 35px;
    width: 130px;
}
.button-2:hover{
    cursor: pointer;
    background-color: #929fa5;
}
.fourth-2{
    width: 50%;
    background-image: url("137-93234.webp");
    background-size: cover;
}

.five{
    margin-top: 40px;
    height: 150px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    font-weight: 500;
   
}
.five-nav{
    width: 700px;
}
.six{
    box-shadow: 0px 0px 3px black;
    justify-content: space-evenly;
    display: flex;
    height: 400px;
}

.six ul{
    margin-top: 20px;
    margin-bottom: 0px;
}
ul p{
    font-weight: 600;
}
ul a{
    color: grey;
    display: block;
    line-height: 50px;
    width: 200px;
}
ul a:hover{
    cursor: pointer;
    color: rgb(68, 65, 65);
}
.seven{
    /* box-shadow: 0px 0px 2px black; */
    height: 80px;
    font-size: 2rem;
    margin-bottom: 0;
    padding-bottom: 0;
}
.seven-2{
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}
.border:hover{
    cursor: pointer;
    font-size: 2.3rem;
}
.eight{
    color: rgb(39, 37, 37);
    margin-left: 20px;
    line-height: 40px;
    height: 300px;
    font-weight: 600;
}
.icon:hover{
    cursor: pointer;
    text-decoration:underline;
}
.nine{
    color: grey;
    font-weight: 500;
    margin-left: 20px;
    margin-bottom: 10px;
}
